@import './base/common';
@import './base/reset';
@import './utils/mixins';
@import './components/section';
@import './components/container';
@import './layouts/header';
@import './components/button';
@import './components/current';
@import './components/mobile-button';
@import './layouts/header';
@import './layouts/single-card-film';
@import './layouts/footer';
@import './utils/decimals';
@import './utils/vars';
@import './utils/visually-hidden';
@import './layouts/snow';
