:root {
  --dominant-font: 'Roboto';

  --dominant-color: #000000;
  --second-color: #ffffff;
  --bg-color: #e5e5e5;
  --accent-color: #ff6b08;

  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// https://fonts.google.com/specimen/Roboto?query=Roboto
