<section>
    <div class="container" id="gallery">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci sapiente
        consectetur incidunt dicta exercitationem et accusantium quasi unde, dolores
        fugiat eaque veritatis, nostrum, repellat beatae repellendus harum similique
        autem saepe nesciunt voluptas! Voluptate eius eligendi qui temporibus quia!
        Asperiores quis pariatur expedita nobis facere aut, iure maiores, ullam porro
        omnis suscipit delectus illo consequatur
        earum, rem excepturi dignissimos perspiciatis est.
    </div>
</section>