<footer class="footer__box">
    <div class="container container__footer">
        <p class="footer__title">&#169; 2022 &#124; All Rights Reserved &#124;</p>
        <p class="footer__title"> Developed with
            <!-- <span class="icon__heart">
                &#10084 </span> -->
            <svg class="icon__heart" width="14px" height="13px">
                <use href="./images/icons/icons.svg#icon-heart"></use>
            </svg>
            by <span class="footer__link js-team-modal team-modal"> GoIT
                Students</span>
        </p>
    </div>
    <!-- <img src="/src/images/team/katerina-tkachenko.jpg" alt="foto Katerina Tkachenko" width="150" /> -->
</footer>