<header class="header">
  <div class="container header-container">
    <!-- Theme Switch -->

    <div id="switch">
      <input class="checkbox" type="checkbox" id="themeSwitch" />
      <div class="icon"></div>
    </div>

    <nav class="header__navigation">
      <a href="./index.html" class="header__logo">
        <img src="./images/icons/logo-icon.svg" alt="logo" />
        <h2 class="header__logo-title">Filmoteka</h2>
      </a>
      <ul class="header__list">
        <li class="header__list-item">
          <a class="header__item-link" href="./index.html">Home</a>
        </li>
        <li class="header__list-item">
          <a
            class="header__item-link header__item-link--current"
            href="./my-library.html"
            >My library</a
          >
        </li>
      </ul>
    </nav>

    <form>
      <ul class="storage js-choice-storage">
        <li class="storage__item">
          <label class="storage__label">
            <input
              type="radio"
              name="storage-btn"
              value="Watched"
              class="storage__input visually-hidden"
              checked
            />
            <span class="storage__btn" id="js-WatchedButton">Watched</span>
          </label>
        </li>
        <li class="storage__item">
          <label class="storage__label">
            <input
              type="radio"
              name="storage-btn"
              value="Queue"
              class="storage__input visually-hidden"
            />
            <span class="storage__btn" id="js-QueueButton">Queue</span>
          </label>
        </li>
      </ul>
    </form>
  </div>
</header>
