<section>
  <container>
    <ul class="movie__collection list">
      <li class="movie__card">
        <a class="movie__link open__modal--js" data-id="" href="#">
          <div class="movie__img__box">
            <img
              class="movie__img"
              src="#"
              alt="Нажаль, хтось не намалював крутий постер до цього фільму)"
              width="394"
              name="Poster"
            />
          </div>
        </a>
        <div class="movie__card__textbox">
          <a class="movie__link open__modal--js link" href="">
            <h3 class="movie__title">Назва фільму</h3>
            <span class="movie__details">Жанри | </span
            ><span class="movie__details">Рік</span>
          </a>
        </div>
      </li>
    </ul>
  </container>
</section>
