<div>
<container>
    <ul class="movie__collection">
        <li class="movie__card">
            <a class="movie__link open__modal--js" data-id="" href="">
                <div class="movie__img__box">
                    <img class="movie__img"
                    src="./images/no-Film-Img394x574.jpg"
                    alt="./images/no-Film-Img394x574.jpg"
                    width="395"
                    name="Poster"
                     >
                </div>
            </a>
            <div class="movie__card__textbox">
                <a class="movie__link open__modal--js" data-id="" href="">
                    <h3 class="movie__title">Назва фільму</h3>
                    <span class="movie__details">Жанри | </span><span class="movie__details">Рік</span>
                
            </a>
            </div>
        </li>
    </ul>
</div>
</div>
