.footer__box {
    background-color: #F7F7F7;
}

.footer__link {
    cursor: pointer;
    margin-left: 5px;
    color: inherit;
    font-size: 14px;
    text-decoration: underline;
  
    @media screen and (min-width: 768px) {
        font-size: 16px;
    }

    &:hover,
    &:focus{
    color: var(--accent-color);
    }
}

.footer__title {
    font-size: 14px;
    color: #545454;

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }

}

.icon__heart {
    margin-right: 10px;
    margin-left: 10px;
    color: var(--accent-color);
    width: 14px;
    height: 13px;

    animation-name: pulse;
    -webkit-animation-name: pulse;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

// модальне вікно футера

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    padding-left: 0;
}



.team-title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.17;
    text-align: center;

    color:#545454;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  
}

.team-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @media screen and (min-width: 768px) {
        padding-top: 15px;
        
    }  
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;

}


.team-member-title {
    text-align: center;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.19;

    color: var(--accent-color);
    @media screen and (min-width: 768px) {
        margin-bottom: 10px;
    
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }

    &:hover,
    &:focus{
        color: #8a3d09;
    }
}


.team-member-position {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
    line-height: 1.19;

    color: var(--dominant-color);

    @media screen and (min-width: 768px) {
        font-size: 12px;
        margin-bottom: 10px;
        margin-top: 5px;
        }
    
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        margin-bottom: 16px;
        margin-top: 5px;
    }
}

.thumb {
    vertical-align: middle;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: contain;
    overflow: hidden;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 1), 2px 5px 10px rgba(0, 0, 0, 0.25), 2px 5px 20px rgba(0, 0, 0, 0.2);

    transition-property: transform;

    @media screen and (min-width: 320px) {
        display: none;   
    }

    @media screen and (min-width: 768px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60px;
        height: 60px;
    }

    @media screen and (min-width: 1200px) {
        display: block;
        width: 100px;
        height: 100px;
    }

    &:hover,
    &:focus{
        transform: scale(1.2);
    }
}

@keyframes pulse {
    0% {
      transform: scale(0.9);
      opacity: 0.7;
    }
  
    50% {
      transform: scale(1);
      opacity: 1;
    }
  
    100% {
      transform: scale(0.9);
      opacity: 0.7;
    }
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(0.95);
      opacity: 0.7;
    }
  
    50% {
      -webkit-transform: scale(1);
      opacity: 1;
    }
  
    100% {
      -webkit-transform: scale(0.95);
      opacity: 0.7;
    }
  }

