:root {
    --accent-color: #FF6B08;
    --primary-text-color: #000000;
    --dark-theme-color-text: #ffff;


}



P,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    }

li {
  list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.movie__collection {
    margin-left: 0;
    padding-left: 0;

}


.movie__img {
    
    border-radius: 5px;

@media screen and (max-width: 767px) {
    background-image: url(/src/images/no-Film-Img280x402.jpg);
    background-repeat: no-repeat, repeat;
            width: 280px;
            height: 402px;
           
        }
    
@media screen and (min-width: 768px) {
    background-image: url(/src/images/no-Film-Img336x455.jpg);
    background-repeat: no-repeat, repeat;
            width: 336px;
            height: 455px;
           
        }
    
@media screen and (min-width: 1280px) {
    background-image: url(/src/images/no-Film-Img.jpg);
    background-repeat: no-repeat, repeat;
            width: 396px;
            height: 574px;
            
        }
}

.movie__card:hover {
    border-radius: 5px;
    /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 2), 0px 4px 4px rgba(0, 0, 0, 2), 1px 4px 6px rgba(0, 0, 0, 2); */
    box-shadow: 5px 5px 55px 21px rgba(0, 0, 0, 0.71);
        -webkit-box-shadow: 5px 5px 55px 21px rgba(0, 0, 0, 0.71);
        -moz-box-shadow: 5px 5px 55px 21px rgba(0, 0, 0, 0.71);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.movie__card__textbox {
    padding-left: 5px;
    padding-bottom: 5px;
    
    position: inherit;
@media screen and (min-width: 320px) {
            margin-top: 10px;
    
        }
    
@media screen and (min-width: 768px) {
            margin-top: 8px;
    
        }
    
@media screen and (min-width: 1280px) {
            margin-top: 12px;
    
        }
  
}
.movie__title--night {
    color: var(--dark-theme-color-text);
}

.movie__title {
    cursor: pointer;
    text-transform: uppercase;
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 500;
        
@media screen and (min-width: 320px) {
                    font-size: 12px;
                    line-height: 16px;
        
            }
        
@media screen and (min-width: 768px) {
                    font-size: 12px;
                    line-height: 16px;
        
            }
        
@media screen and (min-width: 1280px) {
                font-size: 20px;
                line-height: 24px;
        
            }
}

.movie__details {
    cursor: pointer;
    color: var(--accent-color);
    font-style: normal;
    font-weight: 500;
@media screen and (min-width: 320px) {
                font-size: 12px;
                line-height: 16px;
        
            }
        
@media screen and (min-width: 768px) {
                font-size: 12px;
                line-height: 16px;
        
            }
        
@media screen and (min-width: 1280px) {
                font-size: 20px;
                line-height: 24px;
        
            }
        
}